h1 {
    margin-block-start: 0;
}

body {
    margin: 0;
    font-family: monospace;
    background: #344955
}

body > div:nth-child(2) > button {
    border-radius: 0 0 15px 15px;
    font-size: 20px;
}

body > div:nth-child(2) {
    margin-bottom: 3%;
    position: sticky;
    top: 0;
}

button {
    width: 100%;
    background: #f9aa33;
    font-weight: bold;
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 0.2;
}

/*textarea CSS from https://developer.mozilla.org/en-US/docs/web/html/element/textarea*/
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

/*textarea CSS from https://developer.mozilla.org/en-US/docs/web/html/element/textarea*/
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.container {
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    background: #fff;
    padding: 20px 10px;
}

.control-pad {
    position: fixed;
    background: rgba(1, 1, 1, 1);
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1px;
    align-items: baseline;
    align-content: center;
    justify-content: space-evenly;
}

.control-pad > div:first-child {
    width: 35%;
    margin: 2px;
    padding: 10px;
}

.control-pad > div:nth-child(2) {
    width: 10%;
}

.control-pad > div:first-child > button {
    margin-bottom: 2px;
    padding: 10px;
    font-size: 20px;
}

.red-button {
    background: #f4511e;
}

/*Framework classes*/
.card {

    border-radius: 10px;
    border: 1px solid #aaa;

}

.card-container {
    flex: 45%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.card > div > h3 {
    border: 1px solid #8c1717;
    color: #851616;
}

.card > div {
    padding: 5%;
}

.collectible {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

bold {
    font-weight: bold;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    background-color: transparent; /* Change the background-color of table here */
    text-align: left; /* Change the text-alignment of table here */
}

th {
    font-weight: bold;
    border: 1px solid #cccccc; /* Change the border-color of heading here */
    padding: 8px;
}

td {
    border: 1px solid #cccccc; /* Change the border-color of cells here */
    padding: 8px;
}